body,td,th {
	color: white;
	font-size: 14px;
}
body {
	background-color: #330000;
	font-family: Arial, Helvetica, sans-serif;
}
img#background {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -5;
}

hr.SponsorsRule {
	position: relative;
	background-color: #ffffff;
	height: 2px;
	width: 170px;
	left: 1px;
	border: 0;
}

.Picture1 {
	position: relative;
	width: 600px;
	height: auto;
	top: 0px;
	padding-bottom: 20px;
}

.PictureLeft {
	position: relative;
	width: 275px;
	top: 0px;
	left: 30px;
	height: 100%;
}

.PictureRight {
	position: absolute;
	width: 275px;
	top: 0px;
	left: 310px;
}

.PictureCenter {
	position: relative;
	left: 30%;
	top: 0px;
	width: 275px;
}

.TextSideLeft {
	position: relative;
	width: 260px;
	left: -20px;
}

.TextSideRight {
	position: relative;
	width: 260px;
	left: -15px;
}

.YouTube1 {
	position: relative;
	left: 40px;
	top: 0px;	
	margin-bottom: 20px;
}

.YouTube2 {
	position: relative;
	left: 50px;
	top: 20px;
	margin-bottom: 40px;
}

table.Calendar {
	position: relative;
	left: 10px;
}

.Calendar th {
	text-align: center;
}

fieldset.ShortForm {
	position: relative;
	width: auto;
	max-width: 475px;
	min-width: 400px;
	/*width: 400px;*/
	left: 50px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

label.ShortForm {
	position: relative;
	top: 10px;
	margin-bottom: 10px;
}

input.ShortForm {
	position: relative;
	width: 275px;
	top: -8px;
	margin-bottom: 10px;
	left: 120px;
}

button.ShortForm {
	position: relative;
	left: 35%;
	right: 35%;
	background-color:#741D01;
	border-color: #FFFFFF;
	top: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 25px;
}

textarea.ShortForm {
	position: relative;
	left: 120px;
	top: -8px;
	width: 275px;
	height: 100px;
}

select.ShortForm {
	position: relative;
	left: 120px;
	top: -10px;
	margin-bottom: -5px;
	margin-top: 5px;
}

input.BodyText {
	top: -30px;
	height: 10px;
	color: #000000;
	padding-left: 0px;
	padding-right: 0px;
	text-indent: 0px;
}

.image {
	position: relative;
	top: 0px;
	margin-left: auto;
    margin-right: auto;
	display: block;
}

.sponsors-image{
	position: relative;
	top: 0px;
	left: 35px;
}

#backgroundimage {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#content {
	position: absolute;
	height: auto;
	width: 900px;
}

#ad-side{
	position: absolute;
	left: 845px;
	float: right;
	height: auto;
	width: auto;
}

#content-side {
	position: relative;
	float: left;
}

/*Header Styles */
#header {
	position: relative;
	background: url(TemplateImages/Main-Header.png);
	background-repeat: no-repeat;
	height: 59px;
	width: 775px;
	left: 5px;
}

#header-sitename{
	position: relative;
	width: auto;
	height: 10px;
	text-align: center;
	top: 10px;
	/*top: 15px;
	left: 180px;*/
	
}

#header-pagename{
	position: relative;
	text-align: left;
	width: auto;
	height: 100px;
	text-align: center;
	top: 10px;
	/*top: 45px;
	left: 0px;*/
}

#main-content-top {
	position: relative;
	background: url(TemplateImages/Main-Content-Top.png);
	width: 600px;
	height: 19px;
	top: 12px;
	z-index: 0;
}

#main-content-middle {
	position: relative;
	background: url(TemplateImages/Main-Content-Middle.png);
	width: 600px;
	height: auto;
	min-height: 400px;
	top: -3px;
	padding-bottom: 10px;
	z-index: 0;
}

#main-content-middle li {
	position: relative;
	top: -10px;
	left: -15px;
	padding-bottom: -10px;
	list-style-type: none;
	font-weight: bold;
}

#main-content-middle li ul li{
	position: relative;
	top: 5px;
	left: -40px;
	padding-bottom: -10px;
	list-style-type: none;
	font-weight: normal;
}

#main-content-middle-empty {
	position: relative;
	background: url(TemplateImages/Main-Content-Middle.png);
	width: 600px;
	height: auto;
	min-height: 400px;
	top: 10px;
	padding-bottom: 10px;
	z-index: 0;
}

#main-content-bottom {
	position: relative;
	background: url(TemplateImages/Main-Content-Bottom.png);
	width: 600px;
	height: 19px;
	top: -3px;
	z-index: 0;
}

#main-content-bottom-empty {
	position: relative;
	background: url(TemplateImages/Main-Content-Bottom.png);
	width: 600px;
	height: 71px;
	top: 10px;
	z-index: 0;
}

#main-content-middle table {
	position: relative;
	left: 15px;
}

#main-content-middle table caption {
	font-size: 16px;
	font-weight: bold;
}

#main-content {
	position: relative;
	width: 700px;
	height: auto;
	left: 175px;
	text-align: left;
}

#footer {
	position: relative;
	background: url(TemplateImages/Main-Footer.png);
	height: 58px;
	width: 775px;
	left: 50px;
	float: left;
	top: 10px;
	left: 5px;
}

#footer-copyright{
	position: relative;
	width: auto;
	height: 10px;
	text-align: center;
	top: 5px;
}

#side-ad {
	position: relative;
	width: 200px;
	height: auto;
	top: 20px;
	left: -50px;
	text-align: left;
	float: right;
}

#side-ad-top {
	position: relative;
	background: url(TemplateImages/Main-Side-Ad-Top.png);
	width: 200px;
	height: 17px;
}

#side-ad-middle {
	position: relative;
	background: url(TemplateImages/Main-Side-Ad-Middle.png);
	width: 200px;
	height: auto;
	min-height: 200px;
	top: -12px;
	padding-bottom: 10px;
}

#side-ad-bottom {
	position: relative;
	background: url(TemplateImages/Main-Side-Ad-Bottom.png);
	width: 200px;
	height: 17px;
	top: -12px;
}

a:link {
	color: #000000;
	text-decoration: underline;
}
a:visited {
	color: #004500;
	text-decoration: underline;
}
a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
a:active {
	text-decoration: none;
}


.BodyText a:link {
	color: #FFFFFF;
	text-decoration: underline;
}

.BodyText a:visited {
	color: #CCFF00;
	text-decoration: underline;
}

.BodyText a:hover {
	text-decoration: underline;
	color: #FFCC00;
}

.BodyText a:active {
	text-decoration: none;
}

.Calendar table {
	padding-left: -10px;
}

/*.Calendar table:first-child tr td{
	text-align: center;
}*/

.Calendar td {
	color: #FFFFFF;
	font-size: 14px;
	text-align: center;
	/*padding-left: 20px;
	padding-right: 30px;
	padding-bottom: 10px;*/
	/*text-indent: 10px;*/
}

.Calendar th {
	color: #FFFFFF;
	font-size: 14px;
	font-style: italic;
	border-bottom: 2px groove #FFFFFF;
}

.Calendar tr {
	
}

.Calendar td a {
	color: #FFCC00;
}

.Calendar tr:first-child td {
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	/*border: 1px groove #000000;*/
	padding-left: 10px;
}

.Calendar a:hover {
	text-decoration: none;
	color: #000000;
}

#sv-container {
	position:relative;
	left: 1px;
	height: 585px;
	width: 585px;
}

#sv-container object {
	position: absolute;
	top: 0px;
}