hr.SponsorsRule {
	left: 15px;
}

table.Calendar {
	left: 20px;
}

#ad-side{
	top: -18px;
	
}

/*Header Styles */

#header-sitename{
	top: 18px;
	
}

#header-pagename{
	top: 55px;
}

#main-content-middle {
	top: 10px;
}

#main-content-bottom {
	top: 10px;
}

#main-content {
	z-index: -10;
}

#footer {
	top: 20px;
}

#footer-copyright{
	top: 25px;
}

#side-ad-middle {
	top: 0px;
}

#side-ad-bottom {
	top: 0px;
}
